.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: ghostwhite;
}

.mainContent {
  display: flex;
  justify-content: center;

  gap: 100px;
}
